<div class="card" style="width: 18rem;">
    <div *ngIf="!isDetailMode">
        <img src={{recipe.imagePath}} class="card-img-top" alt="..." height="200px">
        <div class="card-body">
            <h5 class="card-title">{{recipe.name}}</h5>
            <p class="card-text">{{recipe.description}}</p>
            <a href="#" class="btn btn-primary" (click)="onDetailModeToggle()">View Details</a>
        </div>
    </div>

    <div *ngIf="isDetailMode">
        <app-recipe-detail [recipe]="recipe" (toggleDetails)="onDetailModeToggle()"></app-recipe-detail>
    </div>
</div>